<div class="container  header-padding-top mb-5" uk-height-viewport="offset-top: true; offset-bottom: true">

  <div class="section-title text-center pt-5">
    <h2>My Profile</h2>
  </div>


<%= render "shared/profile_and_accounts" %>

<div uk-grid="" class="uk-grid">

    <div class="uk-width-2-5@m uk-flex-last@m">
      <%= form_tag(profile_update_path, method: :put) do |f| %>
        <div class="uk-card-default rounded text-center p-4">
            <div class="uk-position-relative my-4">
              <%= cl_image_tag(avatar_helper(current_student_or_staff), { quality: "auto:best", id: "custom-cloudinary-upload", class: "avatar-xlarge" }) %>
                <div class="uk-position-center">
                    <div uk-form-custom="" class="uk-form-custom">
                        <input name="file" type="file" accept=".jpg,.jpeg,.png" class="cloudinary-fileupload" data-cloudinary-field="student[profile_image]"
                            data-form-data="{ &quot;upload_preset&quot;:  &quot;<%= ENV['CLOUDINARY_API_UNSIGNED_UPLOAD_PRESET'] %>&quot;, &quot;callback&quot;: &quot;<%= request.base_url %>/cloudinary_cors.html&quot;}" ></input>

                        <span class="uk-link icon-feather-camera icon-medium text-white"> </span>
                    </div>

                </div>
            </div>

            <input type="submit" class="button grey m-auto mb-3" value="Save Profile Image" />
      <% end %>
        </div>
    </div>
    <div class="uk-width-expand@m uk-first-column">

        <div class="uk-card-default rounded">
            <div class="p-3">
                <h5 class="mb-0"> Profile </h5>
            </div>
            <hr class="m-0">
            <%= form_tag(profile_update_path, method: :put) do |f| %>
              <div class="p-4">
                <div class="uk-child-width-1-2@s uk-grid-small uk-grid" uk-grid>
                  <div class="uk-first-column">
                      <h5 class="uk-text-bold mb-2"> First Name </h5>
                      <%= text_field_tag "student[first_name]", current_student_or_staff&.first_name, class: "uk-input", placeholder: "First Name", required: true %>
                  </div>
                  <div>
                      <h5 class="uk-text-bold mb-2"> Last Name </h5>
                      <%= text_field_tag "student[last_name]", current_student_or_staff&.last_name, class: "uk-input", placeholder: "Last Name", required: true %>
                  </div>
                  <div class="uk-grid-margin uk-first-column">
                      <h5 class="uk-text-bold mb-2"> Title </h5>
                      <%= text_field_tag "student[title]", current_student_or_staff&.title, class: "uk-input", placeholder: "Title" %>
                  </div>
                  <% if student_signed_in? %>
                    <div class="uk-grid-margin">
                        <h5 class="uk-text-bold mb-2"> Phone Number </h5>
                        <%= text_field_tag "student[phone_number]", current_student&.phone_number, class: "uk-input", placeholder: "(555) 555 - 5555" %>
                    </div>
                  <% end %>
                </div>

                <div class="uk-child-width-1-3@s uk-grid-small uk-grid" uk-grid>
                  <div class="uk-first-column">
                      <h5 class="uk-text-bold mb-2"> City </h5>
                      <%= text_field_tag "student[city]", current_student_or_staff&.city, class: "uk-input", placeholder: "City" %>
                  </div>
                  <div>
                      <h5 class="uk-text-bold mb-2"> State </h5>
                      <%= select_tag "student[state]", options_for_select(t("states"), current_student_or_staff&.state), class: "uk-select" %>
                  </div>
                  <div class="uk-grid-margin uk-first-column">
                      <h5 class="uk-text-bold mb-2"> Zip </h5>
                      <%= text_field_tag "student[zip]", current_student_or_staff&.zip, class: "uk-input", placeholder: "Zip" %>
                  </div>
                </div>

                <div class="uk-child-width-1-1@s uk-grid-small uk-grid" uk-grid>

                  <div class="uk-flex uk-flex-right p-4">
                      <button class="button grey">Save Changes</button>
                  </div>
                </div>
              </div>
            <% end %>
        </div>

    </div>

</div>

</div>
