<div class="uk-flex uk-flex-middle">
  <h3 class="mb-0 mr-3"> <i class="icon-line-awesome-usd"></i> Plans </h3>
  <% unless @plans.count >= 3 %>
    <a href="<%= new_plan_path %>" class="button grey"
        uk-tooltip="title: Add New Plan ; delay: 500 ; pos: top ;">
        <i class="icon-feather-plus"></i> Add New
    </a>
  <% end %>
</div>
<article class="py-2">
  <p>
    Plans allow you to set the price and billing cycle for memberships.
    <br><sub class="text-muted">You can have up to 3 plans (free or paid).<sub>
  </p>
</article>

<%= render "meritadmin/shared/search" %>

<div class="uk-overflow-auto uk-card uk-card-default pt-3 uk-card-body rounded">
    <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
        <thead>
            <tr class="uk-text-small uk-text-bold">
                <th>Name</th>
                <th>Amount</th>
                <th>Created</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          <% @plans&.reverse&.each do |plan| %>
            <tr data-row-id="<%= plan.id %>">
                <td> <%= plan.name %></td>
                <td> <%= number_to_currency(plan.amount, precision: 0) %> </td>
                <td> <%= friendly_date(plan.created_at) %> </td>
                <td class="uk-flex-inline uk-flex-middle">
                    <a href="<%= plan_path(plan) %>" class="button soft-success">
                        <i class="fas fa-eye uk-visible@m"></i> View
                    </a>
                    <a href="<%= edit_plan_path(plan) %>" class="button soft-primary">
                        <i class="fas fa-trash uk-visible@m"></i> Edit
                    </a>
                    <a href="#" class="button soft-danger delete-button"
                      data-id="<%= plan.id %>"
                      data-name="<%= plan.name %>"
                      data-action="<%= plan_path(plan) %>"
                      data-token="<%= form_authenticity_token %>"
                      uk-toggle="target: #delete-modal">
                        <i class="fas fa-trash uk-visible@m"></i> Delete
                    </a>
                </td>
            </tr>
          <% end %>
        </tbody>
    </table>
</div>

<%= paginate @plans %>
<p class="uk-padding"> <%= total_count(@plans) %></p>

<!-- model -->
<div id="delete-modal" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Delete Plan</h2>
        </div>
        <div class="uk-modal-body">
          <p>Are you sure you want to delete <span class="resource_name"></span>?</p>
          <p class="text-danger">This cannot be undone.</p>
        </div>
        <div class="uk-modal-footer">
          <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
          <button class="uk-button uk-button-danger confirm-button" type="button">Delete</button>
        </div>
    </div>
</div>
