<div class="uk-flex uk-flex-middle">
  <a href="<%= staffs_path(page: params[:page], scope: params[:scope]) %>" class="button grey"
      uk-tooltip="title: View All Staff Members ; delay: 500 ; pos: top ;">
      <i class="icon-material-outline-arrow-back"></i> Back To All Staff Members
  </a>
</div>

<div class="uk-card-default mt-4 rounded">
    <div class="uk-card-header">
        <i class="icon-feather-plus mr-2"></i> Setup A New Staff Account
    </div>
    <div class="uk-card-body">
        <div uk-grid>
            <div class="uk-width-1-4@m">

                <div class="text-center">
                    <div class="uk-position-relative">
                      <%= cl_image_tag("https://via.placeholder.com/800x800", default_image_options(id: "custom-cloudinary-upload", class: "avatar-xlarge uk-border-circle shadow")) %>
                        <div class="uk-position-center">
                            <div uk-form-custom>
                                <input name="file" type="file" accept=".jpg,.jpeg,.png" class="cloudinary-fileupload" data-cloudinary-field="staff[profile_image]"
                                    data-form-data="{ &quot;upload_preset&quot;:  &quot;<%= ENV['CLOUDINARY_API_UNSIGNED_UPLOAD_PRESET'] %>&quot;, &quot;callback&quot;: &quot;<%= request.base_url %>/cloudinary_cors.html&quot;}" ></input>
                                <span class="preview-icon uk-link icon-feather-camera icon-medium text-white">
                                </span>
                            </div>

                        </div>

                    </div>
                    <span class="uk-text-meta">For best results use a square picture. Ex. 300px x 300px</span>
                </div>

            </div>
            <div class="uk-width-expand@m">
              <%= render "form" %>
            </div>
        </div>
    </div>
</div>
