<div class="uk-card-default uk-card-small rounded">
    <div class="uk-card-header py-3">
        <span id="enrollments" class="uk-h5"> Enrollments</span>
        <% if @course.enrollments.present? %>
          <a href="<%= course_enrollments_path(@course) %>" class="button soft-success small uk-float-right">
            <i class="icon-feather-eye uk-visible@m"></i> View All
          </a>
        <% end %>
        <a href="<%= new_course_enrollment_path(@course, Enrollment.new) %>" class="button grey small uk-float-right">
          <i class="icon-feather-plus uk-visible@m"></i> New
        </a>
    </div>

    <% if @course.enrollments.present? %>
      <!-- notificiation dropdown -->
      <div class="dropdown-notifications uk-card-default rounded uk-width-1-1">


          <!-- notification contents -->
          <div class="dropdown-notifications-content uk-height-large" data-simplebar>

              <!-- notiviation list -->
              <ul>
                <% @course.enrollments.limit(5)&.each do |enrollment| %>
                  <% student = enrollment.student %>
                  <li>
                      <a href="<%= course_enrollment_path(@course, enrollment) %>">
                          <%= cl_image_tag(avatar_helper(student), default_image_options(class: "avatar-medium circle")) %>
                          <span class="notification-text">
                              <strong><%= student.name %></strong>
                              <div class="enrollment-star">
                                  <div class="star-rating">
                                    <%= star_rating(enrollment.rating) %>
                                  </div>
                              </div>
                              <%= truncate(enrollment.comment, length: 50) %>
                              <br> <span class="time-ago"> <%= time_ago_in_words(enrollment.created_at) %> ago</span>
                          </span>
                      </a>
                  </li>
                <% end %>
              </ul>

          </div>

      </div>
    <% else %>
      <div class="uk-card-default rounded uk-width-1-1">
        <div class="py-3 px-4">
          <span>None</span>
        </div>
      </div>
    <% end %>
</div>
