<div class="uk-flex uk-flex-middle">
  <a href="<%= course_path(@course, anchor: "enrollments", page: params[:page], scope: params[:scope]) %>" class="button grey"
      uk-tooltip="title: Back To Course <%= @course.name %> ; delay: 500 ; pos: top ;">
      <i class="icon-material-outline-arrow-back"></i> Back To Course: <%= @course.name %>
  </a>
</div>

<% @course.enrollments&.reverse&.each do |enrollment| %>
  <% student = enrollment.student %>
  <div class="mt-4" uk-grid>
    <div class="uk-width-1-1@m">
      <div class="uk-card-default rounded">
        <div class="uk-flex uk-flex-between uk-flex-middle py-3 px-4">
            <h5 class="mb-0"> <%= student.name %> </h5>
            <a href="<%= edit_course_enrollment_path(@course, enrollment) %>" uk-tooltip="title:Edit Enrollment; pos: left"> <i
                    class="icon-feather-settings"></i> </a>
        </div>
      </div>
    </div>
  </div>
<% end %>
