<div class="uk-flex uk-flex-middle">
  <h3 class="mb-0 mr-3"> <i class="icon-line-awesome-question-circle"></i> FAQs </h3>
  <a href="<%= new_faq_path %>" class="button grey"
      uk-tooltip="title: Add New FAQ ; delay: 500 ; pos: top ;">
      <i class="icon-feather-plus"></i> Add New
  </a>
</div>
<article class="py-2">
  <p>
    FAQs allow you to explain what features students get as part of their membership.
  </p>
</article>

<%= render "meritadmin/shared/search" %>

<div class="uk-overflow-auto uk-card uk-card-default pt-3 uk-card-body rounded">
    <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
        <thead>
            <tr class="uk-text-small uk-text-bold">
                <th>Name</th>
                <th>Created</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          <% @faqs&.reverse&.each do |faq| %>
            <tr data-row-id="<%= faq.id %>">
                <td> <%= faq.name %></td>
                <td> <%= friendly_date(faq.created_at) %> </td>
                <td class="uk-flex-inline uk-flex-middle">
                    <a href="<%= faq_path(faq) %>" class="button soft-success">
                        <i class="fas fa-eye uk-visible@m"></i> View
                    </a>
                    <a href="<%= edit_faq_path(faq) %>" class="button soft-primary">
                        <i class="fas fa-trash uk-visible@m"></i> Edit
                    </a>
                    <a href="#" class="button soft-danger delete-button"
                      data-id="<%= faq.id %>"
                      data-name="<%= faq.name %>"
                      data-action="<%= faq_path(faq) %>"
                      data-token="<%= form_authenticity_token %>"
                      uk-toggle="target: #delete-modal">
                        <i class="fas fa-trash uk-visible@m"></i> Delete
                    </a>
                </td>
            </tr>
          <% end %>
        </tbody>
    </table>
</div>

<%= paginate @faqs %>
<p class="uk-padding"> <%= total_count(@faqs) %></p>

<!-- model -->
<div id="delete-modal" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Delete FAQ</h2>
        </div>
        <div class="uk-modal-body">
          <p>Are you sure you want to delete <span class="resource_name"></span>?</p>
          <p class="text-danger">This cannot be undone.</p>
        </div>
        <div class="uk-modal-footer">
          <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
          <button class="uk-button uk-button-danger confirm-button" type="button">Delete</button>
        </div>
    </div>
</div>
