<% return unless setting.has_newsletter? %>

<div class="newsletter-container uk-container uk-container-expand uk-background-cover bg-gradient-primary uk-position-relative uk-light uk-flex <%= 'mt-3' unless defined?(mini_mode) %>">
  <div class="<%= defined?(mini_mode) ? 'uk-width-1-1@m' : 'uk-width-1-2@m' %> uk-text-center uk-margin-auto uk-margin-auto-vertical p-5" style="background-image:url('https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE2MRAB?ver=b041');">
    <h4 class="uk-text-uppercase">Sign Up For Our Email List</h4>
    <p>New Courses Each Month Delivered To Your Inbox.</p>
    <%= form_for(marketing_list, remote: true) do |f| %>
      <%= f.hidden_field :list_name, class: "uk-input", value: "newsletter" %>
      <div class="uk-width-1-1 uk-margin-bottom">
        <%= f.text_field :first_name, class: "uk-input", placeholder: "First Name" %>
      </div>
      <div class="uk-width-1-1 uk-margin-bottom">
        <%= f.email_field :email, class: "uk-input", placeholder: "Email", required: true %>
      </div>
      <%= f.submit "Subscribe", class: "button soft outline" %>
    <% end %>
  </div>
</div>

<% content_for(:extra_js) do %>
  <script type="text/javascript">
    $('#new_marketing_list').on('ajax:success', function(e) {
      var data = e.detail[0];
      if (data.status) {
        UIkit.notification({message: data.notice, pos: 'top-center', status: 'success'});
        $(".newsletter-container").fadeOut();
      } else {
        UIkit.notification({message: data.error, pos: 'top-center', status: 'danger'})
      }
    }).on('ajax:error',function(e, xhr, status, error) {
      UIkit.notification({message: error, pos: 'top-center', status: 'danger'})
    });
  </script>
<% end %>
