<% return unless show_header %>

<div class="nav-overlay uk-navbar-left uk-position-relative uk-flex-1 bg-primary uk-light p-3" hidden
    style="z-index: 10000;">
    <div class="uk-navbar-item uk-width-expand">
      <%= form_tag(explore_path, method: :get, class: "uk-search uk-search-navbar uk-width-1-1") do |f| %>
        <input class="uk-search-input" placeholder="Search..." name="q" uk-filter="target: .js-filter" autocomplete="off" type="search" autofocus>
      <% end %>
    </div>
    <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade"
        href="#"></a>
</div>

<header class="header bg-semi-light">

  <div class="container ">
    <nav uk-navbar="" class="uk-navbar">

      <div class="uk-navbar-left">

        <span class="mmenu-trigger">
          <button class="hamburger hamburger--collapse" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </span>

        <a href="/" class="active logo blue-text">
          <img src="<%= setting.logo_icon %>" alt="<%= @tenant&.name %>">
          <strong>ACADEMY</strong>
        </a>

        <% if setting.lesson_view_with_left_sidebar? && @lesson.present? %>
          <h6 class="uk-visible@s text-dark  bg-semi-light py-4 p-3 mb-0 min-height-25">
            <a href="/courses/<%= @course.slug %>" id="ember698" class="active ember-view text-dark"><%= @course.name %></a>
          </h6>
        <% end %>

        <nav class="<%= 'uk-hidden@m' if setting.lesson_view_with_left_sidebar? && @lesson.present? %>" id="navigation">
          <ul id="responsive">
            <li>
              <%= link_to 'Home', '/', class: 'text-white-s-only' %>
            </li>
            <li>
              <%= link_to 'Courses', '/explore', class: 'text-white-s-only' %>
            </li>
            <li>
              <%= link_to 'Guest Speakers', '/blog', class: 'text-white-s-only' %>
            </li>
            <li>
              <%= link_to 'About', '/about', class: 'text-white-s-only' %>
            </li>
          </ul>
        </nav>
      </div>

      <% if student_or_staff_signed_in? %>
        <div class="uk-navbar-right">
          <div class="header-widget">
            <div class="header-widget">

                                          <a hidden href="#" class="header-widget-icon" title="" aria-expanded="false">
                                              <i class="uil-youtube-alt"></i>
                                          </a>

                                          <div hidden uk-dropdown="pos: top;mode:click;animation: uk-animation-slide-bottom-small" class="dropdown-notifications my-courses-dropdown uk-dropdown">

                                              <div class="dropdown-notifications-headline">
                                                  <h4>My Courses</h4>
                                              </div>

                                              <div class="dropdown-notifications-content" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content" style="padding: 0px; height: auto; overflow: hidden;">

                                                  <ul>
                                                      <li>
                                                          <a href="/courses/introduction-to-programming-using-java" id="ember33" class="ember-view">
                                                              <span class="notification-image">
                                                                  <img src="https://res.cloudinary.com/blacktechacademy/image/upload/java_t3xtb5" width="367" height="100%"> </span>
                                                              <span class="notification-text">
                                                                  <span class="course-title">Introduction to Programming Using Java
                                                                  </span>
                                                                  <span class="course-progressbar">
                                                                      <span class="course-progressbar-filler" style="width:95%"></span>
                                                                  </span>
                                                              </span>
                                                          </a>

                                                      </li>
                                                      <li>
                                                          <a href="/courses/introduction-to-developing-websites-using-html-and-css" id="ember35" class="ember-view">
                                                              <span class="notification-image">
                                                                  <img src="https://res.cloudinary.com/blacktechacademy/image/upload/792484_cc98_3_zpkbda" width="367" height="190"> </span>
                                                              <span class="notification-text">
                                                                  <span class="course-title">Introduction to Developing Websites Using HTML and CSS
                                                                  </span>
                                                                  <span class="course-progressbar">
                                                                      <span class="course-progressbar-filler" style="width:95%"></span>
                                                                  </span>
                                                              </span>
                                                          </a>

                                                      </li>
                                                      <li>
                                                          <a href="/courses/makecode-arcade-block-coding" id="ember37" class="ember-view">
                                                              <span class="notification-image">
                                                                  <img src="https://res.cloudinary.com/blacktechacademy/image/upload/734471750_1280x720_llttap" width="367" height="190"> </span>
                                                              <span class="notification-text">
                                                                  <span class="course-title">MakeCode Arcade: Block Coding
                                                                  </span>
                                                                  <span class="course-progressbar">
                                                                      <span class="course-progressbar-filler" style="width:95%"></span>
                                                                  </span>
                                                              </span>
                                                          </a>

                                                      </li>
                                                  </ul>

                                              </div></div></div><div class="simplebar-placeholder" style="width: 0px; height: 0px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); visibility: hidden;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); visibility: hidden;"></div></div></div>
                                              <div class="dropdown-notifications-footer">
                                                  <a href="#"> View All</a>
                                              </div>
                                          </div>


                                          <a hidden href="#" class="header-widget-icon" title="" aria-expanded="false">
                                              <i class="uil-bell"></i>
                                              <span>4</span>
                                          </a>

                                          <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small" class="dropdown-notifications uk-dropdown">

                                              <div class="dropdown-notifications-headline">
                                                  <h4>Notifications </h4>
                                              </div>

                                              <div class="dropdown-notifications-content" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content" style="padding: 0px; height: auto; overflow: hidden;">

                                                  <ul>
                                                      <li class="notifications-not-read">
                                                          <a href="#">
                                                              <span class="notification-icon button soft-danger disabled">
                                                                  <i class="icon-feather-thumbs-up"></i></span>
                                                              <span class="notification-text">
                                                                  <strong>Adrian Mohani</strong> Like Your Comment On Course
                                                                  <span class="text-primary">Javascript Introduction </span>
                                                                  <br> <span class="time-ago"> 9 hours ago </span>
                                                              </span>
                                                          </a>
                                                      </li>
                                                      <li>
                                                          <a href="#">
                                                              <span class="notification-icon button soft-primary disabled">
                                                                  <i class="icon-feather-message-circle"></i></span>
                                                              <span class="notification-text">
                                                                  <strong>Stella Johnson</strong> Replay Your Comments in
                                                                  <span class="text-primary">Programming for Games</span>
                                                                  <br> <span class="time-ago"> 12 hours ago </span>
                                                              </span>
                                                          </a>
                                                      </li>
                                                      <li>
                                                          <a href="#">
                                                              <span class="notification-icon button soft-success disabled">
                                                                  <i class="icon-feather-star"></i></span>
                                                              <span class="notification-text">
                                                                  <strong>Alex Dolgove</strong> Added New Review In Course
                                                                  <span class="text-primary">Full Stack PHP Developer</span>
                                                                  <br> <span class="time-ago"> 19 hours ago </span>
                                                              </span>
                                                          </a>
                                                      </li>
                                                      <li class="notifications-not-read">
                                                          <a href="#">
                                                              <span class="notification-icon button soft-danger disabled">
                                                                  <i class="icon-feather-share-2"></i></span>
                                                              <span class="notification-text">
                                                                  <strong>Jonathan Madano</strong> Shared Your Discussion On Course
                                                                  <span class="text-primary">Css Flex Box </span>
                                                                  <br> <span class="time-ago"> Yesterday </span>
                                                              </span>
                                                          </a>
                                                      </li>
                                                  </ul>

                                              </div></div></div><div class="simplebar-placeholder" style="width: 0px; height: 0px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); visibility: hidden;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); visibility: hidden;"></div></div></div>


                                          </div>



                                          <a href="#" hidden class="header-widget-icon" title="" aria-expanded="false">
                                              <i class="uil-envelope-alt"></i>
                                                  <span>1</span>
                                              </a>

                                              <div uk-dropdown=" pos: top-right;mode:click" class="dropdown-notifications uk-dropdown">

                                                  <div class="dropdown-notifications-headline">
                                                      <h4>Messages</h4>
                                                  </div>

                                                  <div class="dropdown-notifications-content" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content" style="padding: 0px; height: auto; overflow: hidden;">

                                                      <ul>
                                                          <li class="notifications-not-read">
                                                              <a href="#">
                                                                  <span class="notification-avatar">
                                                                      <img src="https://via.placeholder.com/250x250" alt="">
                                                                  </span>
                                                                  <div class="notification-text notification-msg-text">
                                                                      <strong>Jonathan Madano</strong>
                                                                      <p>Okay.. Thanks for The Answer I will be waiting for your...
                                                                      </p>
                                                                      <span class="time-ago"> 2 hours ago </span>
                                                                  </div>
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="#">
                                                                  <span class="notification-avatar">
                                                                      <img src="https://via.placeholder.com/250x250" alt="">
                                                                  </span>
                                                                  <div class="notification-text notification-msg-text">
                                                                      <strong>Stella Johnson</strong>
                                                                      <p> Alex will explain you how to keep the HTML structure and all
                                                                          that...</p>
                                                                      <span class="time-ago"> 7 hours ago </span>
                                                                  </div>
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="#">
                                                                  <span class="notification-avatar">
                                                                      <img src="https://via.placeholder.com/250x250" alt="">
                                                                  </span>
                                                                  <div class="notification-text notification-msg-text">
                                                                      <strong>Alex Dolgove</strong>
                                                                      <p> Alia Joseph just joined Messenger! Be the first to send a
                                                                          welcome message..</p>
                                                                      <span class="time-ago"> 19 hours ago </span>
                                                                  </div>
                                                              </a>
                                                          </li>
                                                          <li>
                                                              <a href="#">
                                                                  <span class="notification-avatar">
                                                                      <img src="https://via.placeholder.com/250x250" alt="">
                                                                  </span>
                                                                  <div class="notification-text notification-msg-text">
                                                                      <strong>Adrian Mohani</strong>
                                                                      <p> Okay.. Thanks for The Answer I will be waiting for your...
                                                                      </p>
                                                                      <span class="time-ago"> Yesterday </span>
                                                                  </div>
                                                              </a>
                                                          </li>
                                                      </ul>

                                                  </div></div></div><div class="simplebar-placeholder" style="width: 0px; height: 0px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); visibility: hidden;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); visibility: hidden;"></div></div></div>
                                                  <div class="dropdown-notifications-footer">
                                                      <a href="#"> sell all <i class="icon-line-awesome-long-arrow-right"></i> </a>
                                                  </div>
                                        </div>



                                    <a href="#" class="header-widget-icon profile-icon" aria-expanded="false">
                                        <img uk-img data-src="<%= avatar_helper(current_student_or_staff) %>" alt="" class="header-profile-icon">
                                    </a>

                                    <div uk-dropdown="pos: top-right ;mode:click" class="dropdown-notifications small uk-dropdown">

                                        <a href="#">

                                            <div class="dropdown-user-details">
                                                <div class="dropdown-user-avatar">
                                                    <img uk-img data-src="<%= avatar_helper(current_student_or_staff) %>" alt="">
                                                </div>
                                                <div class="dropdown-user-name">
                                                    <%= current_student_or_staff&.name %> <span><%= current_student_or_staff.class.to_s.humanize %></span>
                                                </div>
                                            </div>

                                        </a>


                                        <ul class="dropdown-user-menu">
                                          <% if !staff_signed_in? && setting.is_membership_portal? %>
                                            <li><a href="/upgrade" class="text-gold">
                                              <i class="icon-feather-star"></i> Upgrade Membership</a>
                                            </li>
                                          <% end %>
                    <li hidden>
                        <a href="/dashboard" hidden>
                            <i class="icon-material-outline-dashboard"></i> Dashboard</a>
                    </li>
                    <li><a href="/profile">
                            <i class="icon-feather-settings"></i> Profile & Account</a>
                    </li>
                    <li class="hide uk-hidden" uk-hidden hidden hide uk-hide><a  class="hide uk-hidden" uk-hidden hidden hide uk-hide href="#">
                            <i class="icon-feather-help-circle"></i> Help</a>
                    </li>
                    <li>
                      <a href="/logout" class="text-white-s-only text-red">
                        <i class="icon-feather-log-out"></i> Log Out
                      </a>
                    </li>
                </ul>


            </div>

        </div>
          </div>
        </div>
      <% else %>
        <div class="uk-navbar-right">

          <div class="header-widget">

            <div class="header-navigation">
              <ul class="responsive" style="max-height: 70px;">
                <li>
                  <a href="/login" class="">
                    <strong>Login</strong>
                  </a>
                </li>
              </ul>
            </div>

            <% if setting.registration_enabled? %>
              <a href="<%= setting.registration_button_url %>" class="button tsn-button tsn-medium-blue-outline button-rounded medium mr-0">
                <%= setting.registration_button_text %>
              </a>
            <% end %>

          </div>

          <a class="uk-navbar-toggle" uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#">
            <!-- <i class="uil-search icon-small"></i> -->
            <%# image_tag "tsn_rebrand/Layer -1@2x.png", width: 30 %>
          </a>
          <span class="uil-user icon-small uk-hidden@s" uk-toggle="target: .header-widget ; cls: is-active"></span>
        </div>
      <% end %>
    </nav>

  </div>

</header>
