<div class="uk-flex uk-flex-middle">
  <a href="<%= subjects_path(page: params[:page], scope: params[:scope]) %>" class="button grey"
      uk-tooltip="title: View All Subjects ; delay: 500 ; pos: top ;">
      Back To All Subjects
  </a>
</div>

<div class="mt-4" uk-grid>
    <div class="uk-width-expand@m">

        <div class="uk-card-default rounded">
            <div class="uk-flex uk-flex-between uk-flex-middle py-3 px-4">
                <h5 class="mb-0">
                  <%= cl_image_tag(@subject.icon_url, { width: 80, quality: "auto:best", transformation: [{ width: 30, crop: "scale" }] }) %>
                  Subject details
                </h5>
                    <a href="<%= edit_subject_path(@subject) %>" uk-tooltip="title:Edit Subject; pos: left"> <i
                            class="icon-feather-settings"></i> </a>
            </div>
            <hr class="m-0">
            <div class="uk-child-width-1-2@s uk-grid-small p-4" uk-grid>
                <div>
                    <h6 class="uk-text-bold"> Name </h6>
                        <p> <%= @subject.name %> </p>
                </div>
                <div>
                    <h6 class="uk-text-bold"> Icon </h6>
                        <p> <%= link_to @subject.icon_url, @subject.icon_url, target: "_blank" %> </p>
                </div>

            </div>
            <div class="uk-child-width-1-1@s uk-grid-small p-4" uk-grid>
              <div>
                  <h6 class="uk-text-bold"> Description </h6>
                      <p> <%= @subject.description %> </p>
              </div>

            </div>
        </div>

    </div>
</div>
